/* Estilos personalizados */
body {
  font-family: 'Inter', sans-serif;
}

.ant-layout-sider {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px) !important;
}

.ant-layout-header {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px) !important;
}

.ant-layout-content {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 16px;
}

/* Aumentar la especificidad para sobrescribir los estilos de Ant Design */
.custom-menu .ant-menu-item {
  color: #333 !important;
}

.custom-menu .ant-menu-item:hover {
  color: #198754 !important;
}

.custom-menu .ant-menu-item-selected {
  color: #fff !important;
  background-color: #198754 !important;
}

.custom-header .text-gray-700 {
  color: #333 !important;
}

.custom-header .text-gray-500 {
  color: #aaa !important;
}
